<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="api">
            <directory suffix="Test.php">cases/</directory>
        </testsuite>
    </testsuites>
   <logging>
		<log type="testdox-text" target="logs/testdox.txt" logIncompleteSkipped="true"/>
    </logging>
    <php>
        <const name="VERSION" value="1.0.0"/>
    </php>
</phpunit>
